.form{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form input[type="text"]{
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  min-width: 80%;
}
.form button[type="submit"]{
  height: 40px;
  width: 40px;
  border: none;
  background-color: #df425a;
  color: white;
  transition: 500ms;
}
.form button[type="submit"]:hover{
  border: 2px rgb(39, 39, 39) solid;
  color: black;
}
